/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
}

.fa-solid {
    color: gray;
}


/* MAIN */



.header {
    height: 100px;
    background-color: rgb(0, 150, 136);
    width: 100%;
}


.containerBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
}

.vert1 {
    height: 100%;
    background-color: lightslategray;
    overflow-y: auto;
    height: calc(100vh - 80px);
    flex-basis: 30%;
}

.Cent {
    overflow-y: auto;
    height: calc(100vh - 50px);
    flex-basis: 70%;
}

.Cent1 {
    background-image: url("../img-recap/ImgBackground.png");
    overflow-y: auto;
    height: calc(100vh - 130px);
    
}

/* CoNTAINER containerBox:top */
.top{
    height: 80px;
    display: flex;
}

.top .topS {
    background-color: lightgray;
    flex-basis: 30%;
    
}

.top .topS .ImgName {
    width: 190px;
    margin: 5px 0px 0px 5px;
}

.top .topS .ImgName .avatar {
    width: 35%;
    border-radius: 50px;
  
}

.top .topS .ImgName .name {
    color: red;
    margin-left: 10px;
}

.top .topS .Icon {
    margin: -55px 0px 0px 270px;
    font-size: 25px;
}

.top .topS .Icon .fa-solid {
    margin-left: 10px;
}

.top .topD {
    background-color: lightgray;
    flex-basis: 70%;
    border-left: 1px solid lightslategray;
}

.top .topD .ImgName {
    width: 190px;
    margin: 5px 0px 0px 5px;
}

.top .topD .ImgName .avatar {
    width: 35%;
    border-radius: 50px;
  
}

.top .topD .ImgName .name {
    color: red;
    margin-left: 10px;
}

.top .topD .Icon {
    text-align: right;
    margin-top: -60px;
    padding: 10px;
    font-size: 25px;
}


/* CoNTAINER containerBox:CENT:CENT1:botton */
.botton {
    height: 50px;
    background-color: rgb(243, 238, 234);
    padding: 7px;
}

.botton .fa-solid  {
    font-size: 25px;
}


.boxU {
    text-align: center;
    background-color: rgb(213, 249, 186);
    word-wrap: break-word;    
    border: 5px;
    border-radius: 30px;
    padding: 10px;
    margin-right: 70%;
}

.boxC {
    text-align: center;
    background-color: white;
    word-wrap: break-word;    
    border: 5px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 70%;
}








/* PARTE RESPONSIVE */
/* Versione tablet-desktop in giu */
@media screen and (max-width: 1400px) {

    /* TOP:TOps, icone */
    .top .topS .Icon {
        margin: -55px 0px 0px 220px;
    }
    
}

@media screen and (max-width: 1200px) {

    /* TOP:TOps, icone */
    .top .topS .Icon {
        margin: -55px 0px 0px 170px;
    }
    
}

@media screen and (max-width: 1000px) {

    /* TOP:TOps, icone */
    .top .topS .Icon {
        margin: -55px 0px 0px 145px;
        font-size: 18px;
    }

    /* TOP:TOps, icone */
    .top .topS .Icon .fa-solid {
        margin-left: 2px;
    }
    
}