/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

.row {
    --bs-gutter-x:0;
}

.fa-solid {
    color: gray;
}

body {
    background-color: rgb(219, 219, 211);
}


/* MAIN */



.header {
    height: 100px;
    background-color: rgb(0, 150, 136);
    width: 100%;
}


.containerBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -45px;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    max-height: 920px;
}


/* CoNTAINER containerBox:ContactUser */
.ContactUser {
    overflow-y: auto;
    height: calc(100vh - 80px);
    flex-basis: 30%;
}


.ContactUser .row .col-12:hover {
    background-color: rgb(238, 238, 238);
}

.ContactUser .ImgName{
    margin: 5px 0px 0px 5px;
    position: relative;
    border-bottom: 1px solid lightgray;
}

.ContactUser .ImgName .name{
    margin-left: 10px;
}

.ContactUser .ImgName .time {
    position: absolute;
    top: 0;
    right: 0;
}

.ContactUser .ImgName h7{
    display: inline;
}


.ContactUser .ImgName .avatar {
    width: 15%;
    border-radius: 50px;
    vertical-align: middle;
}

.ConAvUs {
    text-align: center;
    background-color: white;
    word-wrap: break-word;    
    border: 5px;
    border-radius: 30px;
    padding: 10px;
}

/* CoNTAINER containerBox:top */
.top{
    height: 80px;
    display: flex;
}

.top .topS {
    background-color: lightgray;
    flex-basis: 30%;
    border-right: 1px solid lightslategray;
}

.top .topD {
    background-color: lightgray;
    flex-basis: 70%;
    border-left: 1px solid lightslategray;
}

/* CoNTAINER containerBox:top,topS */

.top .topS .ImgName {
    width: 190px;
    margin: 5px 0px 0px 5px;
}

.top .topS .ImgName .avatar {
    width: 35%;
    border-radius: 50px;
  
}

.top .topS .ImgName .name {
    color: red;
    margin-left: 10px;
}

.top .topS .Icon {
    margin: -55px 0px 0px 270px;
    font-size: 25px;
}

.top .topS .Icon .fa-solid {
    margin-left: 10px;
}

/* CoNTAINER containerBox:top,topD */

.top .topD .ImgName { 
    margin: 0px 0px 0px 5px;
}

.top .topD .ImgName .avatar {
    width: 7%;
    border-radius: 50px;
    margin: -15px 0px 0px 0px;
}

.top .topD .ImgName .name {
    margin: 10px 15px 0px 15px;
    display: inline-block;
}

.top .topD .Icon {
    text-align: right;
    margin: -65px 40px 0px 0px;
    padding: 10px;
    font-size: 25px;
}

.top .topD .Icon .fa-solid{
    margin-left: 10px;
}

/* CoNTAINER containerBox:CENT:CENT1*/

.Cent {
    overflow-y: auto;
    height: calc(100vh - 50px);
    flex-basis: 70%;
}

.Cent1 {
    background-image: url("../img-recap/ImgBackground.png");
    overflow-y: auto;
    height: calc(100vh - 130px);
    
}

.boxU {
    text-align: center;
    background-color: rgb(213, 249, 186);
    word-wrap: break-word;    
    border: 5px;
    border-radius: 30px;
    padding: 10px;
    margin-right: 70%;
}

.boxC {
    text-align: center;
    background-color: white;
    word-wrap: break-word;    
    border: 5px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 70%;
}

/* CoNTAINER containerBox:CENT:CENT1:botton */
.botton {
    height: 50px;
    background-color: rgb(243, 238, 234);
    padding: 7px;
}

.botton .fa-solid  {
    font-size: 25px;
}











/* PARTE RESPONSIVE */
/* Versione tablet-desktop in giu */
@media screen and (max-width: 1400px) {

    /* TOP:TOps, icone */
    .top .topS .Icon {
        margin: -55px 0px 0px 220px;
    }
    
}

@media screen and (max-width: 1200px) {

    /* TOP:TOps, icone */
    .top .topS .Icon {
        margin: -55px 0px 0px 170px;
    }
    
}

@media screen and (max-width: 1000px) {

    /* TOP:TOps, icone */
    .top .topS .Icon {
        margin: -45px 0px 0px 145px;
        font-size: 18px;
    }

    /* TOP:TOps, icone */
    .top .topS .Icon .fa-solid {
        margin-left: 2px;
    }
    
}