/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* MAIN */

.ContainerM {
    display: flex;
    flex-wrap: wrap;
    
}

.top {
    height: 100px;
    background-color: brown;
    flex-basis: 100%;
    
}

.UserList {
    height: 100vh;
    background-color: blueviolet;
    overflow-y: auto;
    flex-basis: 20%;
}


.TextButton{
    flex-basis: 80%;
}

.prova{
    background-color: pink;
    overflow-y: auto;
    padding: 50px;
    height: calc(100vh - 200px);
}

.botton {
    height: 100px;
    background-color: green;
   
    z-index: 1;
}

.box {
    text-align: right;
    background-color: red;
    height: 200px;
}